#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

::-webkit-scrollbar {
    width: 6px;
    height: 0px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #fe9600;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
    border-radius: 10px;
}



